<h1>Discount # <%= @discount.id %></h1>
<section>
  <p>
    Percentage Discount: <%= @discount.percentage %>%
    Items Required for Discount to Apply: <%= @discount.items_required %>
  </p>
</section>
